@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
}

nav {
    background-color: #B0FFD3;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 30px;;
}

nav h1 {
    color: #36454F;
}

.left-side {
    display: grid;
    grid-template-areas: "income income"
                         "needs wants"
                         "savings misc";
    gap: 20px;
    background-color: #F8FAFB;
    border-radius: 20px;
    padding: 20px;
    & .income {
        grid-area: income;
        display: flex;
        flex-direction: row;
        background-color: #B0FFD3;
        padding: 10px;
        border-radius: 10px;
        & h2 {
            color: #36454F;
        }
    }
    & .needs {
        grid-area: needs;
    }
    & .wants {
        grid-area: wants;
    }
    & .savings {
        grid-area: savings;
    }
    & .misc {
        grid-area: misc;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
}

.second-line, .third-line {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

.income-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
}

.income-details input, select {
    border-radius: 10px;
    display: flex;
}

.income-details select {
    margin-left: 10px;
}

.income-details input {
    margin-left: 3px;
    padding: 5px;
    width: 150px;
    height: 30px;
    display: flex;
    align-self: center;
}

.income-details p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #36454F;
}

.needs-var, .wants-var, .savings-var {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #B0FFD3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

[src="images/minus.png"] {
    height: 5px;
}

.needs-inputs, .wants-inputs, .savings-inputs {
    display: flex;
    flex-direction: column;
    background-color: #d4fce8;
    padding: 10px;
    gap:10px;

}

.needs-inputs p, .wants-inputs p, .savings-inputs p {
    display: inline-flex;
}

.needs-inputs input, .wants-inputs input, .savings-inputs input {
    max-width: 120px;
    min-width: 120px;
}

button {
    background-color: #d4fce8;
    border: none;
    text-align:right;
    cursor: pointer;
}

.add-expense {
    display: flex;
    justify-content: flex-end;
    background-color: #d4fce8;
    align-items:center;
    gap: 5px;
    padding: 10px;
}

.retirement, .college-savings, .emergency-fund, .housing, .utilities, .food, .healthcare, .loans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.third-line {
    padding-right: 100px;
}

.summary {
    display: flex;
    flex-flow: row wrap;
    background-color: #F8FAFB;
    padding: 15px;
    border-radius: 20px;
    & .summary-left {
        display: grid;
        grid-template-areas: "monthly monthly annual annual"
                             "needs wants savings misc"
                             "remaining . . .";
        gap: 15px;
        & .label-month {
            grid-area: monthly;
        }
        & .label-annual {
            grid-area: annual;
        }
        & .label-needs {
            grid-area: needs;
        }
        & .label-wants {
            grid-area: wants;
        }
    }
    & .summary-right {
        display: flex;
        align-self: flex-end;
    }
}

#spending-needs, #spending-wants, #spending-savings, #spending-misc {
    color: #FF5A5A;
}

#spending-remaining {
    color: #6BFFAE;
    text-decoration: none;
}

#span-wants, #span-needs, #span-savings, #span-misc, #span-remainging, #span-monthly, #span-annual {
    text-decoration: underline;
}

#rule-needs, #rule-wants, #rule-savings {
    text-decoration: none;
    color: #FF5A5A;
}

#span2-wants, #span2-needs, #span2-savings {
    text-decoration: underline;
}

.label {
    text-decoration: underline;
}

#summmary-gross-monthly-income, #summary-gross-annual-income {
    font-weight: bold;
}